pandas==2.2.3
numpy==2.4.3
streamlit==1.37.0
jupyter==1.1.1
requests
fastapi
uvicorn
python-multipart
python-docx
pdfplumber
python-dotenv
huggingface-hub
faiss-cpu
torch
transformers
peft
accelerate
scikit-learn==1.5.2
sentence-transformers==3.1.1
